<% include ../partials/header %>

<!-- INTRO SECTION -->

<section class="inventory-intro-wrapper">
  <div class="inventory-intro-display">
    <div class="inventory-intro-numbers">
      <span>0</span>
      <h1>Quality cars in Inventory</h1>
      <p>
        --"The bitterness of poor quality remains long after the sweetness of low price is forgotten"
      </p>
    </div>
    <div class="inventory-intro-cars">
      <ul>
        <li><div class="inventory-intro-overlay"> Chevorlet</div></li>
        <li><div class="inventory-intro-overlay"> Ford</div></li>
        <li><div class="inventory-intro-overlay"> Olds</div></li>
        <li><div class="inventory-intro-overlay"> Pontiac</div></li>
      </ul>
    </div>
  </div>
</section> <!-- INTRO SECTION END -->

<!--  LIST SECTION -->

  <section class="inventory-list-wrapper">
    <div class="inventory-list-display">
      <% items.forEach(function(item) { %>
        <div class="inventory-list-group">
            <li>
              <div class="inventory-list-image">
                <img src="<%= item.image %>" alt="" />
              </div>
              <div class="inventory-list-items">
                <h2><%= item.year %> <%= item.make %> <%= item.model %></h2>
                <p><%= item.color %></p>
                <button><a href=""> View Details</a></button>
              </div>
            </li>
        </div>
    <% }) %>

    </div>
  </section>



<% include ../partials/footer %>
